<p>listado de Héroes</p>

<!-- <ul>
    <li>{{heroes[0]}} </li>
    <li>{{heroes[1]}}</li>    
    <li>{{heroes[2]}}</li>
    <li>{{heroes[3]}}</li>
</ul> -->

<!-- directivas estructurales
    1) ngFor para manejar el DOM
-->


<!-- <div>
    <h3>Heroes borrados</h3>
    <span>
        <li *ngFor="let item of heroesBorrados">
            {{item}}
        </li>    
    </span>

</div>  -->


<!-- <div *ngIf="heroeBorrado !== '' "> -->
<div *ngIf="heroeBorrado; else noBorrado">
    <h3>Heroe Borrado
    <span>
        {{heroeBorrado}}
    </span>
</h3>
</div>

<ng-template #noBorrado>
    <h3>No ha borrado nada</h3>
</ng-template>


<button (click)="borrarHeroe()">
    Borrar Heroe
</button>

<ul >
    <li *ngFor="let item of heroes; let i =index">
        {{i+1}} -{{item}} 
    </li>
</ul>